@(username: String)

@layout("Profile Page"){
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Voting Portal</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href=@routes.HomeController.index>Home</a></li>
            <li><a href=@routes.HomeController.voterRegistration()>Voter Registration</a></li>
            <li class="active"><a href="#">Profile</a></li>
            <li><a href=@routes.HomeController.logout()>Logout</a></li>
        </ul>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, @username</h1>
            <p> Welcome to Admin Console. </p>
            <p>
                <a class="btn btn-primary btn-lg" role="button" href="#">Create Election</a>
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2><a href=@routes.HomeController.approval>Approve Pending Users</a></h2>
            </div>
            <div class="col-md-4">
                <h2><a href="#">Create Elections</a></h2>
                <ul>
                    <li><a href="">Create State Elections</a></li>
                    <li><a href="">Create Presidential Elections</a></li>
                </ul>
                <h2><a href=@routes.AdminController.candidate()>Create Candidates</a></h2>
                <ul>
                    <li><a href="">List candidates</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2><a href="#">Search</a></h2>
                <ul>
                    <li><a href="">Search Precincts</a></li>
                    <li><a href="">Search Demographics</a></li>
                    <li><a href="">Search History</a></li>
                </ul>
            </div>
        </div>
    </div>

}