@(list: List[String])

@layout("Approval"){
    <div class="custom-container">
        <div class="col-md-4 col-md-offset-4">
            <h2>Unapproved Voter Registrations</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                @for(person <- list){
                    <tr>
                        <td>@person</td>
                        <td>
                            @helper.form(action= helper.CSRF(routes.AdminController.update(person))){
                                <fieldset>
                                    <input class="btn btn-sm btn-success btn-block" type="submit" value="Approve">
                                </fieldset>
                            }
                        </form>
                        </td>
                        <td>
                            @helper.form(action= helper.CSRF(routes.AdminController.destroy(person))){
                                <fieldset>
                                    <input class="btn btn-sm btn-danger btn-block" type="submit" value="Delete">
                                </fieldset>
                            }
                        </form>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

    </div>

}