@(electionID : String, candidates : List[Candidate])
@import helper._


@layout("Ballot Page"){
    <div class="form-section">
        <div class="form-container w-container">
            <div class="form-div">
                <h1>Election Ballot</h1>
                @for(candidate <- candidates){
                <tr>
                    <td>@candidate.firstname</td>
                    <td>@candidate.lastname</td>
                    <td>@candidate.party</td>
                </tr>
                }
            </div>
        </div>
    </div>
}