@(candidateForm : Form[Candidate], electionid: ArrayList[String], precinctid: ArrayList[String], message: String)
@import helper._


@layout("Candidate Creation Page"){
    <div class="form-section">
        <div class="form-container w-container">
            <div class="form-div">
                <h1>Candidate Creation</h1>
                <div class="panel-body">
                    @helper.form(action= helper.CSRF(routes.AdminController.saveCandidate())){
                        <fieldset>
                            <div class="form-group">
                            @helper.input(candidateForm("First Name")){ (id, name, value, args) =>
                                <input class="form-control" placeholder="" name="firstname" type="text" value="">
                            }
                            </div>
                            <div class="form-group">
                            @helper.input(candidateForm("Last Name")){ (id, name, value, args) =>
                                <input class="form-control" placeholder="" name="lastname" type="text" value="">
                            }
                            </div>
                            <div class="form-group">
                            @helper.input(candidateForm("Party")){ (id, name, value, args) =>
                                <select name="party">
                                    <option name="democrats">Democrats</option>
                                    <option name="republican">Republican</option>
                                </select>
                            }
                            </div>
                            <div class="form-group">
                            @helper.input(candidateForm("ElectionID")){ (id, name, value, args) =>
                                <select name="electionID">
                                    @for(id <- electionid){
                                        <option value=@id>@id</option>
                                    }
                                </select>
                            }
                            </div>
                            <div class="form-group">
                            @helper.input(candidateForm("Precinct")){ (id, name, value, args) =>
                                <select name="precinct">
                                    @for(id <- precinctid){
                                        <option value=@id>@id</option>
                                    }
                                </select>
                            }
                            </div>
                            <div class="form-group">
                            @helper.input(candidateForm("Position")){ (id, name, value, args) =>
                                <select name="position">
                                    <option value="senator">Senator</option>
                                    <option value="us representative">US Representative</option>
                                    <option value="mayor">Mayor</option>
                                    <option value="governor">Governor</option>
                                </select>
                            }
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Create">
                        </fieldset>
                    }
                </form>
                </div>
            </div>
        </div>
    </div>

}