@(list: List[Candidate])

@layout("Admin"){
    <div class="custom-container">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-container w-container">
                <div class="form-div">
                    <h2>Candidates</h2>
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Party</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(candidate <- list){
                            <tr>
                                <td>@candidate.firstname</td>
                                <td>@candidate.lastname</td>
                                <td>@candidate.party</td>
                                <td>
                                    <a href=@routes.AdminController.updateCandidatePage(candidate.candidateID)>
                                        <input class="btn btn-sm btn-danger btn-block" type="button" value="Update">
                                    </a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
}