@(list: List[Candidate])

@layout("Profile Page"){
    <div class="custom-container">
        <div class="col-md-4 col-md-offset-4">
            <h2>Candidates</h2>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Party</th>
                    </tr>
                </thead>
                <tbody>
                @for(candidate <- list){
                    <tr>
                        <td>@candidate.firstname</td>
                        <td>@candidate.lastname</td>
                        <td>@candidate.party</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}