@(electionID : String, mayors : List[Candidate], ballotForm : Form[Ballots])
@import helper._


@layout("Voter"){
    <div class="form-section">
        <div class="form-container w-container">
            <div class="form-div">
                <h1>Local Elections Ballot </h1>
                @helper.form(action= helper.CSRF(routes.ElectionController.saveVote())){
                    <div class="form-group">
                    @helper.input(ballotForm("Mayor")){ (id, name, value, args) =>
                        <select name="mayor">
                            <option name=mayor>Mayor</option>
                            @for(mayor <- mayors) {
                                <option name=@mayor.candidateID value=@mayor.candidateID>@mayor.firstname @mayor.lastname - @mayor.party</option>
                            }
                        </select>
                    }
                    </div>
                    <button class="btn btn-default btn-lg">Vote</button>
                }
            </div>

        </div>
    </div>
}