@(loginform : Form[LoginData],userstatus: String)
@import helper._


@layout("Login Page"){
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Voting Portal</a>
        </div>
            <ul class="nav navbar-nav">
                <li><a href=@routes.HomeController.index>Home</a></li>
                <li class="active"><a href="#">Login</a></li>
                <li><a href=@routes.HomeController.create()>Sign Up</a></li>
            </ul>
    </nav>


    <div class="container">
        <div class="row vertical-offset-100">
            @userstatus
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please sign in</h3>
                    </div>
                    <div class="panel-body">
                        <!-- <form accept-charset="UTF-8" role="form" action="/login" method="POST"> -->
                            @helper.form(action= helper.CSRF(routes.HomeController.userlogin())){
                                <fieldset>
                                    <div class="form-group">
                                        @helper.input(loginform("Username")){ (id, name, value, args) =>
                                                <input class="form-control" placeholder="" name="username" type="text">
                                        }
                                    </div>
                                    <div class="form-group">
                                        @helper.input(loginform("Password")){ (id, name, value, args) =>
                                            <input class="form-control" placeholder="" name="password" type="password" value="">
                                        }
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <!--<input name="remember" type="checkbox" value="Remember Me"> Remember Me-->
                                        </label>
                                    </div>
                                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                                </fieldset>
                            }
                    </div>
                </div>
            </div>
        </div>
    </div>
}