@(loginform : Form[LoginData],userstatus: String)
@import helper._


@layout("Login Page"){
    <div class="form-section">
        <div class="form-container w-container">
            <div class="form-div">
                <h1>Login</h1>
                <div>@userstatus</div>
                <div class="panel-body">
                        <!-- <form accept-charset="UTF-8" role="form" action="/login" method="POST"> -->
                    @helper.form(action= helper.CSRF(routes.HomeController.userlogin())){
                        <fieldset>
                            <div class="form-group">
                            @helper.input(loginform("Username")){ (id, name, value, args) =>
                                <input class="form-control" placeholder="" name="username" type="text">
                            }
                            </div>
                            <div class="form-group">
                            @helper.input(loginform("Password")){ (id, name, value, args) =>
                                <input class="form-control" placeholder="" name="password" type="password" value="">
                            }
                            </div>
                            <div class="checkbox">
                                <label>
                                        <!--<input name="remember" type="checkbox" value="Remember Me"> Remember Me-->
                                </label>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                            <br>
                            <a href="@routes.HomeController.resetPassword">
                                Forgot Password
                            </a>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
}