@(username: String)

@layout("Profile Page"){
    <div class="section">
        <div class="container w-container">
            <h2 class="display-3">Welcome, @username</h2>
            <p>Welcome to the Manager Console. Your access allows you to search.</p>
        </div>
        <div class="w-row">
            <div class="w-col w-col-4">
                <div class="div-block-2">
                    <h3 class="heading-3">Users</h3>
                    <ul class="w-list-unstyled">
                        <li class="list-item"><a class="link-5" href=@routes.AdminController.searchUsers()>Search Users</a></li>
                    </ul>
                </div>
            </div>
            <div class="w-col w-col-4">
                <div class="div-block-2">
                    <h3 class="heading-3">Elections</h3>
                    <ul class="w-list-unstyled">
                        <li class="list-item"><a class="link-5" href=@routes.ElectionController.electionList()>List Elections</a></li>
                        <li class="list-item"><a class="link-5" href="@routes.AdminController.candidateList()">List Candidates</a></li>
                        <li class="list-item"><a class="link-5" href="@routes.ElectionController.electionresults()">Election Results</a></li>
                    </ul>
                </div>
            </div>
            <div class="w-col w-col-4">
                <div class="div-block-2">
                    <h3 class="heading-3">Precincts</h3>
                    <ul class="w-list-unstyled">
                        <li class="list-item"><a class="link-5" href=@routes.PrecinctController.precinct>View Precincts</a></li>
                        <li class="list-item"><a class="link-5" href="#">Search Geography</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}