@(precinctmap: Map[String, String])


@layout("Profile Page"){
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Voting Portal</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href=@routes.HomeController.index>Home</a></li>
            <li><a href=@routes.HomeController.profile>Dashboard</a></li>
            <li><a href=@routes.HomeController.logout()>Logout</a></li>
        </ul>
    </nav>

    <div class="col-md-7">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"><b>Precincts</b></th>
                    <th scope="col"><b>Current Zip Codes in Precinct</b></th>
                    <th scope="col"><b>Delete</b></th>
                    <th scope="col"><b>Add</b></th>
                </tr>
            </thead>
            <colgroup>
                <col class="col-md-2">
                <col class="col-md-6">
                <col class="col-md-1">
                <col class="col-md-1">
            </colgroup>
            <tbody>
            @for((key, value) <- precinctmap){
                <tr>
                    <td>@key</td>
                    <td>@value</td>
                    <td>
                            <fieldset>
                                <a href=@routes.PrecinctController.deleteprecinct(key)>
                                    <input class="btn btn-sm btn-danger btn-block" type="button" value="delete">
                                </a>
                            </fieldset>
                    </td>
                    <td>
                        <a href=@routes.PrecinctController.addprecinct(key)>
                            <input class="btn btn-sm btn-success btn-block" type="button" value="add">
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}