@(username: String)

@layout("Profile Page"){
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Profile</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top ">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Voting Portal</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href=@routes.HomeController.voterRegistration()>Voter Registration</a></li>
                    <li class="active"><a href="#">Profile</a></li>
                    <li><a href=@routes.HomeController.logout()>Logout</a></li>
                </ul>
        </nav>

        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Hello, @username</h1>
                <p> Welcome to the online voting portal. You are in the [name of location/precinct here] precinct. From here, you will be able to update your voter registration, configure your profile settings, and vote on the current state and federal elections.</p>
                <p> You currently have (voter/admin) privileges on this portal.</p>
                <p>
                    <a class="btn btn-primary btn-lg" role="button" href="#">Vote Now</a>
                </p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2><a href="#">Settings</a></h2>
                    @*<div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Settings</h3>
                        </div>
                        <div class="panel-body">
                            @helper.form(action= helper.CSRF(routes.HomeController.save())){
                                <fieldset>
                                    <div class="form-group">
                                    @helper.input(usrForm("Username/Email")){ (id, name, value, args) =>
                                        <input class="form-control" placeholder="" name="username" type="text">
                                    }
                                    </div>

                                    <div class="form-group">
                                    @helper.input(usrForm("Password")){ (id, name, value, args) =>
                                        <input class="form-control" placeholder="" name="password" type="password" value="">
                                    }
                                    </div>

                                    <div class="form-group">
                                    @helper.input(usrForm("Confirm Password")){ (id, name, value, args) =>
                                        <input class="form-control" placeholder="" name="confPassword" type="password" value="">
                                    }
                                    </div>

                                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Submit">
                                </fieldset>
                            }
                            </form>
                        </div>
                    </div>*@
                </div>
                <div class="col-md-4">
                    <h2><a href="#">Vote</a></h2>
                    <p> Vote in the current election in your area!</p>
                </div>
                <div class="col-md-4">
                    <h2><a href="#">Admin Controls</a></h2>
                    <p> Not Available</p>
                </div>
            </div>
        </div>

    </body>

}