@(message: String, style: String = "java")

@layout("Home Page"){

    <div id="content" class="wrapper doc">
        <div class="row vertical-offset-50">
            <article>

                <h1>Please Sign Up/Login to access your voting profile</h1>

              

                <div class="custom-container">
                    <div class="row">
                        <div class="col-md-4">
                            <h3><a href=@routes.HomeController.profile>Profile</a></h3>
                        </div>
                        <div class="col-md-4">
                            <h3><a href=@routes.HomeController.voterRegistration>Voter Registration</a></h3>
                        </div>
                        <div class="col-md-4">
                            <h3><a href=@routes.HomeController.login()>Login</a></h3>
                        </div>
                        <div class="col-md-4">
                            <h3><a href=@routes.HomeController.create()>Sign Up</a></h3>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
}