@(message: String, style: String = "java")

@defining(play.core.PlayVersion.current) { version =>

    <section id="top">
        <div class="wrapper">
            <h1><a href="https://playframework.com/documentation/@version/Home">@message</a></h1>
        </div>
    </section>

    <div id="content" class="wrapper doc">
        <article>

            <h1>Please Sign Up/Login to access your voting profile</h1>

            <p>
                Congratulations, you’ve just created a new Play application. This page will help you with the next few steps.
            </p>

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3><a href="#">Search</a></h3>
                    </div>
                    <div class="col-md-4">
                        <h3><a href=@routes.HomeController.login()>Login</a></h3>
                    </div>
                    <div class="col-md-4">
                        <h3><a href=@routes.HomeController.create()>Sign Up</a></h3>
                    </div>
                </div>
            </div>

    </div>
}