@(usrForm : Form[UserID])
@import helper._

<html>
    <head>
        <title>Create New User</title>
    </head>

    <body>
        <h1>Create New User</h1>

        @helper.form(action = routes.UserIDController.save()){
            @helper.inputText(usrForm("First Name"))
            @helper.inputText(usrForm("Last Name"))
            @helper.inputText(usrForm("Username"))
            @helper.inputText(usrForm("Password"))

            <input type = "submit" value = "Submit">
        }

    </body>
</html>
